.leftpanel{
    background-color: black;
}
.myimg{
    margin-top: 50%;
}

.email{
    width: 10%;
}
.phone{
    width: 10%;
}
.viber{
    width: 40%;
}
.github{
    width: 40%;
}


.langauges{
    width:150px;
    height: 150px;
    
}

.footer{
    
    padding: 25px;;
}